@charset "utf-8";
/* CSS Document */

.middle_bar{
	font-size: 18px;
	color:#e63900;
	font-family:"open-sans";
	font-weight: bold;
	
}


.middile_bar_left{
	text-align: center;
	
	position: static;
	float: left;
	padding-left: 20px;
	/*border: 1px;*/
	padding-top: 50px;
	/*border-color: red;*/
	width: 32%;
	height: 250px;
	/*border-style: solid;*/
	
}

.middle_bar_centre{
	text-align: center;
	float: left;
	/*border:1px solid red;*/
	width: 32%;
	height:250px;
	padding-top: 50px;
	margin-left: 25px;
}

.middle_bar_right{
	float: right;
	
	/*border:1px solid red*/
	width: 32.8%;
	height:250px;
	text-align: center;
	padding-top: 50px;
}

.middle_bar p{
	padding-top: -20px;
}


